button {
  width: 160px;
  height: 55px;
  margin-left: 47em;
  margin-top: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: rgb(168, 168, 168);
  background-color: rgb(254, 255, 199);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: rgb(255, 198, 246);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.a {
  margin-left: 650px;
  font-size: 30px;
  margin-top: 200px;
  display: inline-block;
}
.background {
  background-image: url("../img/backfround.png");
  background-size: cover;
  height: 950px;
}

.qst {
  margin-left: 745px;
  margin-top: 10px;

  text-decoration: none;
  color: rgb(97, 97, 97);
}

.center {
  position: absolute;
  margin: auto;
}
.hello {
  color: rgb(245, 167, 255);
}

.last {
  color: rgb(255, 188, 64);
}
