.background {
  background-image: url("../img/backfround.png");
  background-size: cover;
  position: relative;
  height: 950px;
}
.jemok {
  color: rgb(65, 65, 65);
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
  display: inline-block;
}

.month12 {
  background-image: url("../img/month12.png");
  background-size: cover;
  position: relative;
  height: 400px;
  width: 400px;
  margin-top: 200px;
}

.month1 {
  background-image: url("../img/month1.png");
  background-size: cover;
  height: 400px;
  width: 400px;
}
