.sign {
  font-size: 30px;
  display: inline-block;
  margin-left: 725px;
  margin-top: 80px;
}
.image {
  background-image: url("../img/backfround.png");
  background-size: cover;
  position: relative;
  height: 950px;
}
.signUp {
  text-decoration: none;
  display: inline-block;
  color: gray;
  margin-left: 130px;
  margin-top: 10px;
  font-size: 13px;
}

input {
  width: 250px;
  height: 40px;
  outline: none;
}
.base {
  margin-left: 650px;
  margin-top: 30px;
}
.id {
  margin-bottom: 40px;
  margin-top: 5px;
}
.pswd {
  margin-top: 5px;
  margin-bottom: 40px;
}

.textID {
  font-weight: bold;
}
.textPW {
  font-weight: bold;
}

input[type="button"] {
  margin-left: 10px;
  width: 50px;
  height: 40px;
  background-color: #feffc7;
  color: #a8a8a8;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
}
input[type="button"]:hover {
  background-color: #ffc6f6;
  color: #feffc7;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
